:root {
  --color-gray-light: #e5e7eb;
  --color-accent-light: #d1d5db;
  --color-accent-shade1: #9ca3af;
  --color-gray-dark: #374151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-gray-light);
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 20rem;
  padding: 3rem;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.header h1 {
  margin-left: 6rem;
}

.list {
  margin-left: 10rem;
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.475);
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.taskHeading {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.tasks h2 {
  font-size: 3rem;
  margin: 3rem 0;
}

.options {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 80%;
  height: 3.5rem;
  padding: 1rem;
}

.btn {
  width: 10%;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.taskDiv,
.taskInputDiv {
  display: flex;
  justify-content: space-between;
  background-color: #f1f5f9;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.taskDiv {
  padding: 0 1rem;
}

.taskInput {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 2.2rem;
  padding: 0 1rem;
}

.hidden {
  display: none;
}

.taskEditBtn,
.taskRemoveBtn,
.taskInputBtn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  width: 6%;
  height: 70%;
  position: absolute;
  cursor: pointer;
}

.taskEditBtn,
.taskInputBtn {
  background-color: var(--color-accent-light);
  color: var(--color-gray-dark);
  top: 14%;
  right: 10%;
}

.taskInputBtn {
  width: 10%;
  font-size: 1.6rem;
  right: 3%;
}

.taskRemoveBtn {
  background-color: var(--color-gray-dark);
  top: 14%;
  right: 2%;
  color: var(--color-accent-light);
}
